@font-face {
    font-family: 'Gotham Pro';
    src: url('/resources/assets/fonts/GothamPro.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('/resources/assets/fonts/GothamPro-Medium.woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('/resources/assets/fonts/GothamPro-Bold.woff');
    font-weight: 700;
    font-style: normal;
}
