html,
body {
    height: 100%;
}
a:hover {
    text-decoration: none;
}
ul {
    list-style: none;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.main {
    flex: 1 0 auto;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
