@function strip-units ($number) {
    @if type-of($number) == "number" and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }
    @return $number;
}

@function em ($value, $base: 16px, $unit: 1em) {
    @if not unitless($value) {
        $value: strip-units($value);
    }
    @if not unitless($base) {
        $base: strip-units($base);
    }
    @return ($value / $base) * $unit;
}

@function rem ($value, $base: 16px) {
    @return em($value, $base, 1rem);
}

@function vw ($value, $base: 19.2px) {
    @if not unitless($value) {
        $value: strip-units($value);
    }
    @if not unitless($base) {
        $base: strip-units($base);
    }
    @return ($value / $base) * 1vw;
}

@function vh ($value, $base: 10.8px) {
    @if not unitless($value) {
        $value: strip-units($value);
    }
    @if not unitless($base) {
        $base: strip-units($base);
    }
    @return ($value / $base) * 1vh;
}
